.box {
  padding: 8px;
  background: #333;
  border: 3px solid black;
  border-top: none;
  border-radius: 0 0 8px 8px;
  color: #fff;
  height: 120px;
  width: 784px;
}
/* GAME MESSAGE */
.box .message {
  position: relative;
  float: left;
  font-size: 24px;
  font-family: monospace;
  width: 50%;
}
.box .continue {
  position: absolute;
  margin-top: 30px;
  float: left;
  width: 25%;
  height: 100%;
}
/* .box .continue  button {
  position: relative;
  float: left;
  background: #666;
  border: 3px solid #888;
  border-radius: 4px;
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  line-height: 14px;
  margin: 4px;
  padding: 16px;
  outline: none !important;
} */
.box .continue button:hover {
  background: #777;
  border-color: #999;
}

.box .continue button:active {
  background: #555;
  border-color: #666;
}

.box .actions {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.box .actions button {
  position: relative;
  float: left;
  background: #666;
  border: 3px solid #888;
  border-radius: 4px;
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  line-height: 14px;
  margin: 4px;
  padding: 16px;
  width: calc(50% - 8px);
  height: calc(50% - 8px);
  outline: none !important;
}

.box .actions button:hover {
  background: #777;
  border-color: #999;
}

.box .actions button:active {
  background: #555;
  border-color: #666;
}